* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Crimson Pro', serif;
  font-size: 20px;
}

.copy {
  padding: .5em 1em;
  background: #fff;
  border: 2px solid black;
  font-size: 1rem;
  font-family: 'Crimson Pro', serif;

  position: fixed;
  top: 1em;
  right: 1em;
}

.copy:hover {
  background: #444;
  color: white;
  cursor: pointer;
}

.copy:active {
  background: #000;
}

.container {
  max-width: 900px;
}

.entry {
  margin: .5em 0;
  margin-left: 1em;
  position: relative;
  padding: .25em;
}

.entry:hover {
  background: #eee;
}

.delete {
  position: absolute;
  right: .5em;
  top: .25em;
  color: black;
  font-size: 1.2rem;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

.delete:hover {
  cursor: pointer;
  color: #fff;
  background: #d22;
}

.line {
  margin: .5em 0;
  margin-left: 1em;
}

.property {
  color: blue;
}

.content {
  color: purple;
}

.bracket {
  font-size: 1.25rem;
}