* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Crimson Pro', serif;
  font-size: 20px;
  background: #ffedde
}
.page-title {
  font-size: 3rem;
  color: #904000;
}

.download {
  padding: .5em 1em;
  border: 2px solid black;
  font-size: .75rem;
  font-family: 'Crimson Pro', serif;
  opacity: 0.5;

  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 100;
  transition: all .125s;
}

.download:hover {
  background: #444;
  opacity: 1;
  color: white;
  cursor: pointer;
}

.download:active {
  background: #000;
}

.container {
  max-width: 900px;
}

.entry {
  margin: .5em 0;
  margin-left: 1em;
  position: relative;
  padding: .75em;
}

.entry:hover {
  background: #eff;
}

.entry:hover .delete, .entry:hover .copy {
  display: flex;
}

.delete {
  position: absolute;
  right: .5em;
  top: .25em;
  color: black;
  font-size: 1.2rem;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  display: none;
  
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.delete:hover {
  cursor: pointer;
  color: #fff;
  background: #a44;
}

.copy {
  background: none;
  display: none;
  border: none;
  position: absolute;
  top: .85em;
  right: 4em;
  font-size: .75rem;
  border: 1px solid black;
  padding: .125em .25em;
  padding-bottom: .2em;

  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.copy:hover {
  cursor: pointer;
  background: gray;
  color: white;
}

.copy:active {
  background: black;
  color: white;
}

.line {
  margin: .5em 0;
  margin-left: 1em;
}

.property {
  color: blue;
}

.content {
  color: purple;
}

.bracket {
  
}